.film-list {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 1009px) {
    .film-list {
        gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }
}